<footer class="footer">
   <div class="footer__copy">
    &copy; <%= new Date().getFullYear(); %> &hearts; <a href="mailto:kate.blbn@gmail.com">Kate Blbn</a>  - Built with NodeJs & MongoDB
   </div> 
</footer>