<header class="header">
    <a href="/" class="header__logo">Admin panel</a>
    <nav class="header__nav">
        <ul class="header__items">
            <li class="header__item"><a href="/" class="header__item-a">Home</a></li>
            <li class="header__item middle"><a href="/about" class="header__item-a">About</a></li>
            <li class="header__item"><a href="/contact" class="header__item-a">Contact</a></li>
        </ul>
    </nav>
    <div class="header__button">
        <button class="header__btn btn searchBtn">
            <a href="/logout">Logout</a>
                 
        </button>    
    </div>
</header>