<div class="about">
    <h1 class="about__title">ABOUT THE AUTHOR</h1>
    <h2 class="about__name">Robert Folzenlogen</h2>
    <div class="about__wrapper">
        <img class="about__img" src="../img/author.JPG" alt="author" width="500px" height="auto">
        <h4 class="about__city">Littleton, Colorado, United States</h4>
    
    </div>
    <p class="about__descr">I am a photographer, naturalist, writer, physician and father of three boys. 
        A native of Cincinnati, 
        I now live in Littleton, Colorado, and Columbia, Missouri. 
        Love traveling and spend time with my family.  Цith a bright outlook on life and an optimistic mood.
        </p>

</div>
