<h1 class="about__title">Contact</h1>
<p class="about__descr"> 
    If you like my blog you can support me. Just let me know about yourself.     
      To contact me, send an email: <a class="contact__mail" href="mailto:rfolzenlogen@gmail.com">rfolzenlogen@gmail.com</a>
</p>